name: SSH Connection

on:
  workflow_dispatch:

jobs:
  ssh-job:
    runs-on: self-hosted

    steps:
    - name: Connect via SSH
      run: |
        ssh -o StrictHostKeyChecking=no ibmsys1@10.10.1.180 -p 2222 "echo Connected successfully"
      shell: cmd

    - name: Run Commands on Remote Server
      run: |
        ssh -o StrictHostKeyChecking=no ibmsys1@10.10.1.180 -p 2222 "your_command_here"
      shell: cmd
