name: SSH Command via CMD on Windows

on:
  push:
    branches:
      - main

jobs:
  ssh-job:
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Run SSH command on Windows
      run: |
        $host = "10.10.1.180"
        $username = "ibmuser"
        $password = "s3cure"
        $port = 2222
        
        # Create a credential object
        $securePassword = ConvertTo-SecureString $password -AsPlainText -Force
        $credential = New-Object System.Management.Automation.PSCredential ($username, $securePassword)

        # Execute the SSH command
        ssh.exe -o StrictHostKeyChecking=no -p $port $username@$host 'whoami'
      shell: cmd
