name: wazi deploy 

on:
  workflow_dispatch:

jobs:
  ssh-login:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Execute Command on Linux Machine
        run: |
         plink.exe -ssh -batch ibmuser@10.10.1.180 -P 2222 -pw s3cure "export JAVA_HOME=/usr/lpp/java/J8.0_64 && export PATH=$JAVA_HOME/bin:/Rocket/rsusr/ported/bin:/wascfg/v9r0/xacell/xanode1/usr/lpp/IBM/cyp/v3r11/pyz/bin:$PATH && echo "Logged in successfully" && /wascfg/v9r0/xacell/xanode1/usr/lpp/IBM/cyp/v3r11/pyz/bin/python3 -c 'import zoautil_py' && wazideploy-deploy -dp /u/ibmuser/dbbwazi1/dbb-zappbuild/build/out/APP4/build.20240902.134123.302/deployment_plan.yml -pif /u/ibmuser/dbbwazi1/dbb-zappbuild/build/out/APP4/build.20240902.134123.302/APP4.tar -ef /u/ibmuser/gbdir/zos4-environment.yml -wf dbbwazi1/dbb-zappbuild/build/out/APP4/build.20240902.134123.302"
